/*
Desktop: 1440px
*/

:root {
  --cream: hsl(30, 38%, 92%);
  --dark-cyan: hsl(158, 36%, 37%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--cream);
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875em;
  min-height: 100vh;
}

.card {
  background-color: var(--white);
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  margin: auto;
  overflow: hidden;
  width: 90%;
}

.card::before {
  background-image: url(/assets/images/image-product-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  display: block;
  height: 15rem;
  width: 100%;
}

.texts,
.prices {
  padding: 0 1.6rem 0 1rem;
}
.type {
  color: var(--dark-grayish-blue);
  font-size: 11px;
  letter-spacing: 0.3rem;
  margin-bottom: 0;
  text-transform: uppercase;
}

.name {
  font-family: "fraunces", serif;
  font-size: 2rem;
  font-weight: 700;
  margin: 10px 0 10px 0;
}

.description {
  color: var(--dark-grayish-blue);
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

.brand {
  text-transform: uppercase;
}

.prices {
  display: flex;
  font-family: "fraunces", serif;
  margin-bottom: 1.5rem;
}

.price {
  color: var(--dark-cyan);
  font-size: 2rem;
  margin: 0;
}

.discount {
  color: var(--dark-grayish-blue);
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  margin: auto 0 auto 1rem;
  text-decoration: line-through;
}

.add-cart {
  align-items: center;
  background-color: var(--dark-cyan);
  border-radius: 0.5rem;
  color: var(--white);
  display: flex;
  font-size: 0.87rem;
  font-weight: 700;
  gap: 1rem;
  justify-content: center;
  margin: 1rem;
  text-decoration: none;
}

.add-cart:hover {
  background-color: hsl(158, 71%, 15%);
}

@media (min-width: 1024px) {
  .card {
    flex-direction: row;
    height: 30em;
    width: 53%;
  }

  .card::before {
    background-image: url(/assets/images/image-product-desktop.jpg);
    height: 26rem;
    background-position: center;
  }

  .information {
    width: 45em;
  }

  .texts,
  .prices {
    padding: 1.5rem 2rem 0 2rem;
  }

  .prices {
    padding-top: 0;
  }

  .add-cart {
    margin: -1rem 4rem 0 2rem;
  }
}

@media (min-width: 1440px) {
  .card {
    height: 26rem;
    width: 40%;
  }
}
